<h1 class="page-heading">All Listings</h1>
<div class="row">
	<div class="col-md-12">
		<%= link_to 'New', new_user_listing_path(@user), {class: 'btn btn-primary btn-md'} %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<% if @listings.length == 0 %>
			<p class="lead">No listings found </p>
		<% else %>
			<table class="table table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<td>Title</td>
						<td>Description</td>
						<td>Price</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
				<% @listings.each do |listing| %>
					<tr>
						<td><%= listing.title %></td>
						<td><%= listing.description %></td>
						<td><%= listing.price %></td>
						<td><%= link_to 'Features', user_listing_features_path(@user,listing) %></td>
						<td><%= link_to 'Pictures', user_listing_pictures_path(@user,listing) %></td>
						<td><%= link_to 'Edit', edit_user_listing_path(@user,listing)  %></td>
						<td><%= link_to 'Delete', [@user,listing], method: :delete, data:{confirm: 'Are you sure?'} %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		<% end %>
	</div>
</div>